<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="pidal.alfonso.w4group1provider"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar">

        <provider
            android:name=".GroupOneProvider"
            android:authorities="pidal.alfonso.w4group1provider.GroupOneProvider"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name="pidal.alfonso.w4group1provider.MainBlankActivity"
            android:label="@string/title_activity_main_blank">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
